# Example .env.example file

# Application port
PORT=3000

# Database URL
DATABASE_URL=mysql://username:password@localhost:3306/mydatabase

# Debug mode (true or false)
DEBUG=true

# JWT Secret key
JWT_SECRET=secret